<h2>Queue Admin</h2>

<div>
  <h2><%= button_to 'Notify Next in line', admin_index_path, method: :post %></h2>
  <p>
    (Clicking this link sends the next person a text and tells them to come wait in line)
  </p>
</div>

<h3>Notified (<%= @notified_users.count %> )</h3>

<% if @notified_users.blank? %>
  <p>(None, click the "Notify" button above)</p>
<% end %>

<% @notified_users.each.with_index do |user| %>
  <div class="row">
    <div class="one-half column">
      <p><strong><%= user.name %></strong></p>
    </div>
    <div class="one-half column">
      <%= button_to "Finished with #{ user.name }",
            admin_path(id: user.id),
            method: :delete,
            form: {style: 'display:inline-block;'} %>

    </div>
  </div>
  <hr />
<% end %>


<h3>Waiting (<%= @waiting_users.count %> )</h3>


<% if @waiting_users.blank? %>
  <p>(None)</p>
<% end %>

<% @waiting_users.each do |user| %>
  <div class="row">
    <div class="column">
      <p><strong><%= user.name %></strong></p>
    </div>
  </div>
  <hr />
<% end %>

<%= will_paginate @waiting_users %>


