<p>
  <h3>
    <%= "You're finished"                                             if @queued_user.finished_at         %>
    <%= "Place in line #{ @queued_user.place_in_line}"                if @queued_user.waiting?            %>
    <%= "Pending phone number confirmation, check your text messages" if @queued_user.confirmed_at.blank? %>
  </h3>
</p>

<p>
  <strong>Name:</strong>
  <%= @queued_user.name %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @queued_user.number %>
</p>

<%= button_to "Re-send confirmation text", resend_text_path(id: @queued_user.id, confirm_token: @queued_user.confirm_token) %>

<%= link_to 'Edit', edit_queued_user_path(id: @queued_user.id, confirm_token: @queued_user.confirm_token) %>
